

<html>
    <head>
        <title>signup</title>


        
    </head>
    <body id="img">
        <form method="POST">
            {% csrf_token %}
            <h1 style="text-align: center;font-size: 2rem;">Login Page</h1>
            <label for="user">Name:</label>
            <input type="text" name="username" id="user"><br><br>
            
            <label for="user">Password:</label>
            <input type="password" name="ps" id="ln"><br><br>
            
            <button type="submit">Login</button>
        </form>
            
            
        
        
        
    </body>
</html>